---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Projects">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8 text-center">My Projects</h1>
    
    <div class="grid gap-8 grid-cols-1 md:grid-cols-2">
      <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-2">Task Manager App</h2>
        <p class="text-gray-600 mb-2">A React app to manage tasks with local storage and routing.</p>
        <a href="https://github.com/90541123970/Task-Manager" class="text-blue-500 hover:underline">View Details →</a>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-2">Contact book</h2>
        <p class="text-gray-600 mb-2">build the single page site on vue.</p>
        <a href="https://github.com/90541123970/contact-book.git" class="text-blue-500 hover:underline">View Details →</a>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-2">Pokemon</h2>
        <p class="text-gray-600 mb-2">Built a clean, responsive page using HTML and CSS.</p>
        <a href="https://github.com/90541123970/pokemon" class="text-blue-500 hover:underline">View Details →</a>
      </div>
    </div>
  </div>
</MainLayout>

